Django==4.2.2
pandas==1.5.2
numpy==1.25.0
scikit-learn==1.2.0
joblib==1.2.0
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
psycopg2-binary==2.9.7
django-environ==0.11.2
asgiref==3.7.2
gunicorn==21.2.0
dj-database-url==2.1.0