{% extends "base.html" %}
{% block title%} Password Reset Done {% endblock %}
{% block navbar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" style="color: white;" aria-current="page" href="{% url 'homepage' %}">Home</a>
    </li>
</ul>
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="col">
        <h1>Password Reset Done</h1>
        <p>We've sent you an email with instructions on how to reset your password.</p>
        <p>Please check your inbox and follow the link provided.</p>
    </div>
</div>
{% endblock %}
