{% load static %}


<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %} {% endblock %} | Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: rgba(16, 91, 99, 255);">
    <div class="container-fluid">
      <img src="{% static 'images/logo.png' %}" alt="Logo" width="100" height="50">
      <a class="navbar-brand" style="color: white;">CarWorthWizard </a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
{% block navbar%}
{% endblock %}
</div>
</div>
</nav>

{% block content%}{% endblock %}
</body>
</html>
<style>
    .centered-div {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    body {
        background-color: #fff4e3; /* Sarı tonunu temsil eden bir renk kodu */
    }
</style>