{% extends "base.html" %}

{% block title %}Success{% endblock %}
{% block CarWizard%}<a class="navbar-brand">CarWorthWizard </a> {% endblock %}
{%block navbar%}
<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'priceForm:form' %}">Form Page</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{%url 'logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1>Form Başarıyla Gönderildi!</h1>
    <h2>Tahmini Araba Fiyatı:</h2>
    <h1 style="font-size: 50px;">{{ predicted_price|floatformat:0}} TL</h1>
    
    <!-- Display other relevant information here -->
</div>
{% endblock %}
